@model Piranha.AspNetCore.Identity.Models.UserListModel
@using Piranha.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    ViewBag.Title = "Users";
    ViewBag.Controller = "User";
}

<div class="top">
    <div class="top-nav">
        <nav>
            <ul class="navbar-nav">
                @if ((await Authorization.AuthorizeAsync(User, Piranha.AspNetCore.Identity.Permissions.UsersAdd)).Succeeded)
                {
                    <li>
                        <a href="@Url.Action("Add")" class="btn btn-sm btn-labeled btn-primary" tabindex="0">
                            <i class="fas fa-plus"></i>Add
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">System</li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="row">
        <div class="col">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<table class="table table-main">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th class="actions one"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="text-limit-cell">
                    <a href="@Url.Action("Edit", new {id = user.Id})">
                        <img src="@Utils.GetGravatarUrl(user.Email, 25)" alt="Gravatar for @user.Email" class="pr-2">
                        @user.UserName
                    </a>
                </td>
                <td>@user.Email</td>
                <td>
                    @string.Join(", ", user.Roles)
                </td>
                <td class="actions one">
                    <a class="remove" href="@Url.Action("Delete", new {id = user.Id})">
                        <span class="fas fa-trash text-danger"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>