@model Piranha.Areas.Manager.Models.MediaListModel
@using Piranha.Models
@{
    Layout = null;
}

<div class="row">
    <div class="col">
        <form action="@Url.Action("ModalAdd", "Media")" class="dropzone needsclick dz-clickable" id="dropzonemodal" enctype="multipart/form-data">
            @Html.Hidden("ParentId", Model.CurrentFolderId)

            <div class="dz-message needsclick">
                <span class="fas fa-cloud-upload-alt"></span>
                <a href="#">Drop files here or click to upload.</a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="table-filter" data-table="#media-table">
            <div class="form-group">
                <input id="media-search" type="text" class="form-control input-block search-field" placeholder="Search for a media file in the current folder">
            </div>
        </div>
        <table id="media-table" class="table table-main table-media">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="date">Modified</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CurrentFolderId.HasValue) {
                    <tr>
                        <td class="text-limit-cell">
                            <a href="#" data-type="folder" data-folderid="@Model.ParentFolderId" data-filter="@Model.Filter.ToString().ToLower()">
                                <i class="fas fa-folder-open media-icon"></i>
                                ...
                            </a>
                        </td>
                        <td></td>
                    </tr>
                }
                @foreach (var folder in Model.Folders) {
                    <tr>
                        <td class="text-limit-cell">
                            <a href="#" class="text-limit" data-type="folder" data-folderid="@folder.Id" data-filter="@Model.Filter.ToString().ToLower()">
                                <i class="fas fa-folder-open media-icon"></i>
                                @folder.Name
                            </a>
                        </td>
                        <td>@folder.Created.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
                @foreach (var item in Model.Media) {
                    <tr>
                        <td class="text-limit-cell">
                            <a href="#" class="text-limit" data-type="item" data-id="@item.Id" data-name="@item.Filename" data-url="@Url.Content(item.PublicUrl)" data-contenttype="@item.ContentType" data-filesize="@Piranha.Utils.FormatByteSize(item.Size)" data-modified="@item.LastModified.ToString("yyyy-MM-dd")">
                                @if (item.Type == MediaType.Image) {
                                    <i class="fas fa-image media-icon"></i>
                                } else if (item.Type == MediaType.Video) {
                                    <i class="fas fa-film media-icon"></i>
                                } else if (item.Type == MediaType.Document) {
                                    <i class="fas fa-book media-icon"></i>
                                } else {
                                    <i class="fas fa-exclamation-triangle media-icon"></i>
                                }
                                @item.Filename
                            </a>
                        </td>
                        <td>@item.LastModified.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
