@model Piranha.Areas.Manager.Models.PageEditRegionCollection
@using Piranha.Models

<div id="region-@Model.Id" class="panel panel-lg">
    <a class="panel-close" href="#"><i class="fas fa-times"></i></a>
    <span class="panel-title">@Model.Id</span>

    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.CLRType)

        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="region-description region-list-description">
                <i class="fas fa-info-circle"></i>
                <p>@Html.Raw(Model.Description)</p>
            </div>
        }
        <div class="row">
            <div class="col">
                <div id="@Model.Id" class="list-group region-list sortable" role="tablist">
                    @for (var i = 0; i < Model.FieldSets.Count; i++)
                    {
                        @Html.EditorFor(m => m.FieldSets[i], "PageEditRegionItem.cshtml")
                    }
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-sm btn-labeled btn-primary float-right addRegionItem" data-pagetypeid="@ViewData["pageTypeId"]" data-regiontypeid="@ViewData["regionTypeId"]" data-regionindex="@ViewData["regionIndex"]" data-itemindex="@Model.FieldSets.Count" data-targetid="#@Model.Id" data-contenttype="@ViewData["contentType"]">
                    <span class="btn-label">
                        <i class="fas fa-plus"></i>
                    </span>
                    Add item
                </button>
            </div>
        </div>
    </div>
</div>